
* {
margin: 0;
font-family: 'Montserrat', sans-serif;
}

body {
  color: #FFF;
}

/* ---------HEADER-------------- */

header {
  font-size: 1.4em;
  background-color: #46424D;
  padding: 15px;
  text-align: center;
}

/* ---------MAIN CONTENT----------- */

main {
  display: flex;
  background-color: #2B2733;
  height: 100%;
}

.main-title {
  font-size: 1.4em;
  margin: 20px 0px 10px 18px;
  color: #CBC9CF;
}

.main-left-box {
  border-right: solid;
  border-color: #46424D;
  flex: 2;
}

.main-right-box {
  flex: 1;
}

/* ---------FORM CARD------------- */

.form-container {
  margin: 0px 20px 30px 20px;
  padding: 25px 80px;
  background-color: #46424D;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 3px;
  font-size: 20px;
}

form > * {
  margin: 20px;
}

h2 {
   font-size: 1em;
   margin-bottom: 20px;
}

.error-message {
  color: #EFB7EC;
  font-size: 1em;
  margin-top: 10px;
  visibility: none;
}

.warning-icon {
  height: .9em;
  width: .9em;
  margin: 10px 3px 0px 0px;
}

/* -------------CATEGORY BUTTONS------------- */

.category-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.category-input {
  -webkit-appearance: none;
}

.category-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 30%;
  border-radius: 3px;
  border: 2px solid;
  padding: 15px 50px;
}

.category-icon {
  height: 30px;
  width: 30px;
  align-self: center;
}

.category-button-title {
  align-self: center;
  margin-top: 3px;
  font-size: 1em;
}

.study-box:checked + label {
  border-color: #B3FD78;
  color: #B3FD78;
}

.meditate-box:checked + label {
  border-color: #C278FD;
  color: #C278FD;
}

.exercise-box:checked + label {
  border-color: #FD8078;
  color: #FD8078;
}

/* ----------ACTIVITY INPUTS----------- */

.activity-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.activity-input-label {
  margin-top: -15px;
}

.activity-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #CBC9CF;
  margin-top: 20px;
  color: #CBC9CF;
  font-size: 1em;
  width: 100%;
  outline: none;
}

.activity-button {
  color: #000000;
  border: none;
  border-radius: 2px;
  align-self: flex-end;
  padding: 7px 20px;
  font-size: 20px;
}

.activity-list-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.activity-list {
  flex-basis: 40%;
}

/* ------------Timer--------------- */

.timer-container {
  text-align: center;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
}

.timer {
  font-family: 'Montserrat400', sans-serif;
  font-weight: bold;
  font-size: 4.3em;
}

.timer-button {
  background: transparent;
  margin-top: 55px;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  border: solid;
  color: #FFF;
  font-size: 1.5em;
}

.timer-button:focus {
  outline: none;
}

.timer-activity-text {
  font-size: 1.15em;
  color: #CBC9CF;
}

.log-activity-button {
  align-self: center;
  margin: 5%;
  padding: 7px 20px;
  width: 35%;
  border-radius: 5px;
  border: 0px;
  font-size: 1em;
}

.congratulatory-message {
  font-size: 1.4em;
  color: #FFF;
  font-weight: lighter;
  font-family: inherit;
}

.create-new-activity {
  padding: 7px 20px;
  width: 50%;
  height: 6%;
  border-radius: 5px;
  border: 0;
  margin: 8% 30% 65% 25%;
  font-size: 1.2em;
  text-align: center;
}

/* ----------PAST ACTIVITIES SECTION------ */

.past-activity-default {
  font-size: 1em;
  margin-bottom: 5px;
  color: #CBC9CF;
  text-align: center;
}

.default-text-wrapper {
  margin: 35px 30px 0px 30px;
}

.past-activity-list {
  padding: 0;
}

.past-activity-card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #46424D;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  border-radius: 3px;
  margin: 20px 20px;
  color: #CBC9CF;
}

.past-activity {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: -10px;
}

.card {
  margin: 10px;
}

.past-activity-category {
  font-family: 'Montserrat400', sans-serif;
  font-weight: bold;
  font-size: .9em;
  align-self: flex-start;
  color: #FFF;
}

.color-icon{
  height: 30px;
  width: 5px;
  border-radius: 5px;
  align-self: flex-end;
  margin-left: auto;
}

.past-activity-description {
  margin-top: 10px;
  flex: 1;
  font-size: .9em;
}

/* ----------COLORS------------- */

.timer-study-color {
   border-color: #B3FD78;
}

.timer-meditate-color {
  border-color: #C278FD;
}

.timer-exercise-color {
  border-color: #FD8078;
}

.error-message-color {
  border-color: #EFB7EC;
}

.card-study-color {
  background-color: #B3FD78;
}

.card-meditate-color {
  background-color: #C278FD;
}

.card-exercise-color {
  background-color: #FD8078;
}

/*-------------STATE------------- */

.hidden {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}
